
<div class="max1000 text-center">
    <h1 class="pb-3">Welcome To Acme's</h1>

    <img src="~/Content/assets/images/Logo-Large.png" alt="Tooniversity Logo" title="Tooniversity Logo" class="max90p mrt" />

    <h3 class="pt-5">Where all your favorite looney-tics got their toon degree!</h3>
    
    <h4 class="pt-4">This site was create for educational purposes only.</h4>
    <p class="pt-4">We here at Acme Toonivery do not own the rights to these characters or the or any of the content contained within this site, not limited to names, character likenesses, and copyrights. These characters are the sole property of Warner Bros. and have been used here without permission for educational purposes under the fair use guidelines applied to US copyrights. Stay looney friends. </p>
</div>




<!-- #region original content -->
@*<div>
    <p>
        Welcome to the Scheduled Administration Tool ("S.A.T."). This web application is used to manage Students, Student Statuses, Courses, Scheduled Classes, and Enrollments. Depending on your Identity role, you may be able to view, create, update, or remove these items.<br />
        This application uses:
        <ul>
            <li>HTML and CSS for structure and style</li>
            <li>Javascript for front-end logic</li>
            <li>MS (Microsoft) SQL Server data structure to manage and persist the data</li>
            <li>Identity Framework to manage Users/Roles</li>
            <li>Model-View-Controller (MVC) design pattern architecture to manage the building of the site</li>
        </ul>
    </p>

    <hr />

    <div id="welcome">
        <h3 class="emphasis">Who Can Use This Application?</h3>
        <h3>The following roles will be used in this application:</h3>
        <ul>
            <li>Scheduling</li>
            <li>Admin (Administrators)</li>
        </ul>
        <h3><i class="emphasis">Anonymous</i> (unauthenticated) users will be able to view the following information:</h3>
        <ul>
            <li>Base Pages (home, contact)</li>
        </ul>
        <h3>Users with the role of <i class="emphasis">Scheduling</i> will be able to view the following information:</h3>
        <ul>
            <li>Base Pages (home, contact)</li>
            <li>Students (index, details)</li>
            <li>Current Scheduled Classes (NO delete)</li>
            <li>Enrollments (FULL CRUD)</li>
        </ul>
        <h3>Users with the role of <i class="emphasis">Administrator</i> will be able to view the following information:</h3>
        <ul>
            <li>Base Pages (home, contact)</li>
            <li>Courses (FULL CRUD)</li>
            <li>Student Statuses  (FULL CRUD)</li>
            <li>Enrollments (FULL CRUD)</li>
            <li>Scheduled Classes (FULL CRUD)</li>
            <li>Students (FULL CRUD)</li>
        </ul>
    </div>
</div>

<div id="footer">
    <p class="footer-links">
        &copy; 2022 SAT. Design by <a target="_blank" href="http://www.spyka.net">Centriq Training</a> and
        Converted to MVC by <a target="_blank" href="http://www.justfreetemplates.com">Centriq Training</a>
    </p>
</div>*@

<!-- #endregion -->
